.container {
  max-width: 1440px;
}
.summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #132c33;
  width: 100%;
  height: 100%;
  padding: 1rem 2rem 2rem;
  margin: 75px auto 0;
}
.skills,
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #132c33;
  width: 100%;
  height: 100%;
  padding: 2rem;
}
.about,
.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem;
  background: #fff;
}
.about .gamtan {
  width: 100%;
  font-size: 35px;
  color: #fff;
  background: #132c33;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  border-radius: 15px;
}
.contact .gamtan {
  width: 100%;
  font-size: 35px;
  color: #fff;
  background: #132c33;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  border-radius: 15px;
}
.project .gamtan {
  width: 100%;
  font-size: 35px;
  color: #fff;
  background: #132c33;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  border-radius: 15px;
}
.aboutArea {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem;
}
.leftArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rightArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.info {
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.aboutTitle {
  width: 4rem;
  height: 5rem;
  font-size: 18px;
  font-weight: 600;
  color: #132c33;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.aboutItem {
  width: 9rem;
  height: 5rem;
  font-size: 18px;
  color: #132c33;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.introBox {
  width: 100%;
  font-size: 35px;
  color: #132c33;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  border-radius: 15px;
  font-family: "GamtanRoad_Gamtan" !important;
}
.intro {
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro p {
  font-size: 20px;
  padding: 5px;
}
.intro p:first-child {
  margin-top: 1rem;
}
.intro p:last-child {
  margin-bottom: 1rem;
}
.btnKnow {
  padding: 10px 15px;
  border-radius: 15px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #132c33;
  background: #fff;
}
.btnKnow:hover {
  background-color: #132c33;
  color: #fff;
}
.footer {
  width: 100%;
  height: 150px;
  color: #fff;
  background: #132c33;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: fixed; */
  bottom: 0;
}

.snsList {
  display: flex;
}

.gitBg {
  width: 150px;
  height: 45px;
  border-radius: 8px;
  background: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
}

.gitBg img {
  width: 35px;
}

.skillBoxArea {
  max-width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.skillBox {
  width: 300px;
  height: 300px;
  background: #fff;
  border-radius: 15px;
  margin: 2rem;
  padding: 1rem;
}

.skillTitle {
  width: 100%;
  height: 40px;
  border-bottom: 2px solid #132c33;
}

.skillName {
  font-size: 25px;
  color: #132c33;
}

.skillList {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.skillImgDiv {
  width: 50px;
  height: 50px;
  margin: 0.5rem;
}
.skillImg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.projectBoxArea {
  max-width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.projectBox {
  width: 480px;
  height: 300px;
  background: #fff;
  border-radius: 15px;
  border: 1px solid #132c33;
  margin: 2rem;
  padding: 1rem;
}
.projectTitle {
  width: 100%;
  height: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #132c33;
}
.projectName {
  font-size: 25px;
  color: #132c33;
}
.projectAt {
  font-size: 15px;
  color: #132c33;
}
.projectContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.projectImgDiv {
  width: 230px;
  height: 200px;
  border: 1px solid black;
}
.projectImg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  image-rendering: -webkit-optimize-contrast;
  transform: translateZ(0);
  backface-visibility: hidden;
}
#toTop {
  width: 42px;
  height: 42px;
  background-color: #132c33;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
}

#toTop:hover {
  background-color: #fff;
  transition: 0.3s;
}
#toTop:hover .arrowUp {
  border-bottom: 10px solid #132c33;
}
.arrowUp {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
}

@font-face {
  font-family: "GamtanRoad_Gamtan";
  src: url("../../public/fonts/gamtan_OTF/Gamtan_Gamtan-OTF/gamtan.otf")
    format("opentype");
}
.gamtan {
  font-family: "GamtanRoad_Gamtan" !important;
}
@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* 타블렛 */
@media screen and (max-width: 1023px) {
  .introBox,
  .about .gamtan,
  .project .gamtan {
    font-size: 20px;
  }
}
/* 모바일 */
@media screen and (max-width: 767px) {
  .introBox,
  .about h1,
  .project h1 {
    font-size: 17px;
  }
  .skillBox {
    width: 200px;
    height: 500px;
  }
  .projectBox {
    width: 200px;
    height: 500px;
  }
  .projectTitle {
    height: 55px;
  }
  .skillList {
    justify-content: center;
  }
  .info {
    width: 230px;
  }
  .aboutArea {
    margin-top: 0;
  }
}
